section{
    div{
        i{
            font-size: nth($sizepx, 4);
            margin-right: nth($sizepx, 2);
            color: lighten($color-2, 20%);
        }
    }
}

section{
    div{
        div{
            p{
                color: lighten($color-2, 20%);
            }
        }
    }
}